extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Local spotter was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Local spotter is a website that helps you find restaurants nearby with wifi. It lists nearby places with Wi-Fi where people can go to get some work done. It also displays facilities, opening times, a rating, and a location map for each place. Visitors will be able to submit ratings and reviews.
        | <br /><br />
        |  The website is built using the MEAN stack, which stands for MongoDB, Express.js, AngularJS, and Node.js. The website is designed to be responsive and works on all devices.